<!doctype html>
<html lang="en-us">
<head>
  <meta content="noindex" name="robots">
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Wowchemy CMS</title>
  <!-- Include Netlify Identity for authentication. -->
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
<body>
<!-- Include the latest Netlify CMS v2.x.x script that builds the admin panel. -->
<script src="https://cdn.jsdelivr.net/npm/netlify-cms@2/dist/netlify-cms.min.js"></script>
<!-- Default Statcounter code for Website
http://people.ucsc.edu/~knkraus/ -->
<script type="text/javascript">
var sc_project=10774613;
var sc_invisible=1;
var sc_security="5750832a";
</script>
<script type="text/javascript"
src="https://www.statcounter.com/counter/counter.js"
async></script>
<noscript><div class="statcounter"><a title="Web Analytics"
href="https://statcounter.com/" target="_blank"><img
class="statcounter"
src="https://c.statcounter.com/10774613/0/5750832a/1/"
alt="Web Analytics"
referrerPolicy="no-referrer-when-downgrade"></a></div></noscript>
<!-- End of Statcounter Code -->
</body>
</html>
